# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.mt_septune.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\haro\Downloads\gamedev\unity\mt_septune\.idea\.idea.mt_septune\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
